/*Hide "Please sign in" text, margin is to prevent login form moving too far up*/
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 10px}

/*Change login page background*/
#loginPage {
    background: url(assets/img/alt-bg.png) !important;
    background-size: cover !important;
}

/*If the logo is present on the details page of an item, hide the items' title*/
#itemDetailPage .itemName.infoText.parentNameLast > bdi:nth-child(1) {display: none;}
.hide+.detailPageWrapperContainer .itemName > bdi:nth-child(1) {display: block !important;}

/*Do the same for the single episodes link back title*/
#itemDetailPage .parentName > bdi:nth-child(1) {display: none;}
.hide+.parentName > bdi:nth-child(1) {display: block !important;}

/*Remove "My Media" title*/
.section0 .sectionTitle {display: none;}

/*Hide the Trailers, Upcoming tabs & Other*/
.emby-tab-button[data-index="2"], .emby-tab-button[data-index="4"] {display:none;}

/*Ultrawide Fill*/
.htmlvideoplayer {width: 100%; height: auto;}

/* Hide Library card titles & sets BG */
#indexPage,
#moviesPage,
#tvRecommendedPage {
    .cardText {display: none;};
    background-image: url(assets/img/alt-bg.png) !important;
    background-size: cover !important;
}

/*Transparent top bar*/
.skinHeader-withBackground {background-color: #20202000 !important;}

/*Card Styling*/
.cardBox, .cardContent {
  overflow: hidden; /* Hide overflow to prevent the shadow from spilling out */  border-radius: 5px !important;
  box-shadow: 2px 12px 15px 2px rgba(0, 0, 0, 0.57); /* Increased blur and spread */
  transition: transform 0.2s ease;
}
.card.show-animation:focus>.cardBox {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
.cardBox-bottompadded {
	margin-bottom: 0.4em !important;
}
.itemsContainer > .card > .cardBox {
	margin-right: 0.8em;
}
.itemsContainer > .card > .cardBox {
	margin-left: .65em !important;
	margin-right: .65em !important;
}
.layout-tv .cardBox.cardBox-bottompadded {
	margin-bottom: 2em !important;
}
.cardBox:hover,
.cardBox:focus {
  transform: scale(1.05);
  border: 5px solid aliceblue; /* Use outline instead of border */
  border-radius: 3px !important; /* Keep the rounded corners */
}

/* Excludes the detail page from the hover effect */
#itemDetailPage .cardBox:hover,
#itemDetailPage .cardBox:focus {
  transform: none;
  border: none;
  border-radius: 5px !important; /* Keep the default rounded corners */
}

/*Change Logo*/

.adminDrawerLogo img { content: url(assets/img/banner-alt.png) !important; } imgLogoIcon { content: url(assets/img/banner-alt.png) !important; } .pageTitleWithLogo { background-image: url(assets/img/banner-alt.png) !important; }
.MuiBox-root img { content: url(assets/img/icon-alt.png) !important; }

/*Detail Page Styles*/
.detailPageWrapperContainer .padded-bottom-page {display:contents}
.detailPageWrapperContainer .padded-left {background: transparent}
.detailLogo {
	display:flex;
	scale:2;
}
.detailPageWrapperContainer {
	background:linear-gradient(to bottom, transparent, black);
}
.backgroundContainer {
	opacity:85%;
	background-size:cover !important;
	background-position: center;
	background: linear-gradient(to bottom, transparent, transparent), url('assets/img/alt-bg.png');
}
